# Práctica 1: Olimpiadas Tokio 2020

In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier

# Cargar el dataset
df = pd.read_csv("RecursosLab3/olimpiadas.csv")

# Seleccionar características necesarias
cols = ["Name", "Sex", "Age", "Height", "Weight", "Medal"]
df = df[cols]
df

                            Name Sex   Age  Height  Weight Medal
0                      A Dijiang   M  24.0   180.0    80.0   NaN
1                       A Lamusi   M  23.0   170.0    60.0   NaN
2            Gunnar Nielsen Aaby   M  24.0     NaN     NaN   NaN
3           Edgar Lindenau Aabye   M  34.0     NaN     NaN  Gold
4       Christine Jacoba Aaftink   F  21.0   185.0    82.0   NaN
...                          ...  ..   ...     ...     ...   ...
271111                Andrzej ya   M  29.0   179.0    89.0   NaN
271112                  Piotr ya   M  27.0   176.0    59.0   NaN
271113                  Piotr ya   M  27.0   176.0    59.0   NaN
271114        Tomasz Ireneusz ya   M  30.0   185.0    96.0   NaN
271115        Tomasz Ireneusz ya   M  34.0   185.0    96.0   NaN

[271116 rows x 6 columns]

In [6]:
# Eliminar filas con datos faltantes
df.dropna(inplace=True)

# Convertir columna "Sexo" en variable binaria
df["Sex"] = df["Sex"].apply(lambda x: 0 if x == "Mujer" else 1)
df

                                       Name  Sex   Age  Height  Weight   Medal
40                 Juhamatti Tapio Aaltonen    1  28.0   184.0    85.0  Bronze
41                  Paavo Johannes Aaltonen    1  28.0   175.0    64.0  Bronze
42                  Paavo Johannes Aaltonen    1  28.0   175.0    64.0    Gold
44                  Paavo Johannes Aaltonen    1  28.0   175.0    64.0    Gold
48                  Paavo Johannes Aaltonen    1  28.0   175.0    64.0    Gold
...                                     ...  ...   ...     ...     ...     ...
271078  Galina Ivanovna Zybina (-Fyodorova)    1  25.0   168.0    80.0  Silver
271080  Galina Ivanovna Zybina (-Fyodorova)    1  33.0   168.0    80.0  Bronze
271082                         Bogusaw Zych    1  28.0   182.0    82.0  Bronze
271102            Olesya Nikolayevna Zykina    1  19.0   171.0    64.0  Bronze
271103            Olesya Nikolayevna Zykina    1  23.0   171.0    64.0  Silver

[30181 rows x 6 columns]

In [7]:
# Aplicar normalización a características numéricas
scaler = StandardScaler()
df[["Age", "Height", "Weight"]] = scaler.fit_transform(df[["Age", "Height", "Weight"]])
df

,Name,Sex,Age,Height,Weight,Medal
40,Juhamatti Tapio Aaltonen,1,0.509147,0.581988,0.749526,Bronze
41,Paavo Johannes Aaltonen,1,0.509147,-0.241885,-0.650031,Bronze
42,Paavo Johannes Aaltonen,1,0.509147,-0.241885,-0.650031,Gold
44,Paavo Johannes Aaltonen,1,0.509147,-0.241885,-0.650031,Gold
48,Paavo Johannes Aaltonen,1,0.509147,-0.241885,-0.650031,Gold
...,...,...,...,...,...,...
271078,Galina Ivanovna Zybina (-Fyodorova),1,-0.084960,-0.882676,0.416298,Silver
271080,Galina Ivanovna Zybina (-Fyodorova),1,1.499324,-0.882676,0.416298,Bronze
271082,Bogusaw Zych,1,0.509147,0.398905,0.549589,Bronze
271102,Olesya Nikolayevna Zykina,1,-1.273172,-0.608051,-0.650031,Bronze
271103,Olesya Nikolayevna Zykina,1,-0.481030,-0.608051,-0.650031,Silver

In [8]:
# Separar set de datos en entrenamiento y validación
X_train, X_val, y_train, y_val = train_test_split(df.drop(["Name", "Medal"], axis=1), df["Medal"], test_size=0.2, random_state=42)

In [12]:
features = ['Sex', 'Age', 'Height', 'Weight', 'Medal']
df = df[features]

# Separar los datos en características y etiquetas
X = df.drop('Medal', axis=1)
y = df['Medal']

# Dividir los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ajustar el escalador a los datos de entrenamiento y transformar ambos conjuntos de datos
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


# Probar distintas configuraciones de vecinos y distancia
for k in [3, 5, 7, 9]:
    for distance in ["euclidean", "manhattan"]:
        knn = KNeighborsClassifier(n_neighbors=k, metric=distance)
        scores = cross_val_score(knn, X_train, y_train, cv=5)
        print(f"k={k}, distancia={distance}: precisión promedio {scores.mean()}")

KeyError: "['Meda'] not found in axis"

In [10]:
# Elegir la mejor configuración
knn = KNeighborsClassifier(n_neighbors=5, metric="euclidean")
knn.fit(X_train, y_train)

# Predecir medallas más probables de ganar
athletes = [
    {"Name": "Bruno Hortelano", "Sex": 1, "Age": 29, "Height": 1.87, "Weight": 81},
    {"Name": "Carolina Marín", "Sex": 0, "Age": 28, "Height": 1.71, "Weight": 64},
    {"Name": "Selección femenina de baloncesto", "Sex": 0, "Age": 28, "Height": 1.84, "Weight": 73},
]

for athlete in athletes:
    X = scaler.transform(pd.DataFrame(athlete, index=[0])[["Sex", "Age", "Height", "Weight"]])
    prediction = knn.predict_proba(X)
    print(f"{athlete['Name']}: Probabilidad de medalla de oro {prediction[0][0]:.2f}, probabilidad de medalla de plata {prediction[0][1]:.2f}, probabilidad de medalla de bronce {prediction[0][2]:.2f}")

/Users/diegovinals/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Sex
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: X has 4 features, but StandardScaler is expecting 3 features as input.